CompileFlags:
  Add: [-Wall, -Wextra]
Diagnostics:
  ClangTidy:
    Add:
      [
        bugprone*,
        cppcoreguidelines*,
        clang-analyzer*,
        modernize*,
        readability*,
        misc*,
      ]
    Remove:
      [
        misc-non-private-member-variables-in-classes,
        modernize-use-trailing-return-type,
        readability-identifier-length,
      ]
